.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.form-container > h1 {
  font-size: 1.6rem;
  color: rgb(1, 89, 172);
}

.form {
  width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: #fff;
  height: max-content;
  padding: 2rem 2.3rem;
  border-radius: 0.3rem;
  box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.3);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form-group label {
  color: rgb(1, 89, 172);
  font-size: 1rem;
}
